.todo {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 5px;
}

.todo::before {
    font-family: "Font Awesome 5 Free";
    content: "\f568";
    display: inline-block;
    padding-right: 6px;
    vertical-align: baseline;
    font-weight: 900;
}
